In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [8]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [9]:
soup = BeautifulSoup(response, 'html.parser')

In [26]:
id= []
age= []
name= []


for employee in soup.find('table').find_all('tr', class_='employee'):
  id.append(employee.find_all('td')[0].text)
  name.append(employee.find_all('td')[1].text)
  age.append(employee.find_all('td')[2].text)

In [29]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [30]:
df.head()

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35

In [36]:
df['age'] = pd.to_numeric(df['age'])
(df.dtypes)

id      object
name    object
age      int64
dtype: object

In [34]:
df.agg({'age':'mean'})

age    29.875
dtype: float64

In [40]:
df.agg({'age':'std'})

age    3.563205
dtype: float64