<a href="https://colab.research.google.com/github/BetoV-435/Velasquez-avj/blob/main/Velasquez_Scikit_Learn_Assignment_M2_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sklearn as sklearn
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
from sklearn.datasets import load_iris
iris = load_iris()

In [ ]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:

iris_sklearn = load_iris()
print(iris_sklearn.target_names)

['setosa' 'versicolor' 'virginica']

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

The `iris_sklearn` object, loaded from `sklearn.datasets.load_iris()`, is a scikit-learn 'Bunch' object. This object contains the raw data in the `data` attribute, which represents the features matrix.

In [ ]:
print("Features matrix (first 5 rows) from iris_sklearn:\n", iris_sklearn.data[:5])
print("\nFeature names from iris_sklearn:\n", iris_sklearn.feature_names)

The other `iris` object is a pandas DataFrame loaded using `sns.load_dataset('iris')`. The features in this DataFrame can be accessed by dropping the 'species' column, which is the target variable.

In [ ]:
iris_df_features = iris.drop(columns=['species'])
print("Features from iris DataFrame (first 5 rows):\n", iris_df_features.head())